@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0D0D0D;
    font-family: "Poppins";
}

a {
    font-size: 1rem; 
    color: #2F2E2E;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.container {
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem; 
}

.logotipo {
    background-color: #EEE751;
    font-size: 2rem; 
    font-weight: bold;
    height: auto; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0D0D0D;
}

.logotour {
    padding-left: 2rem;
    color: #2F2E2E;
    font-size: 1.5rem; 
    font-weight: bold;
    display: flex;
    align-items: center;
}

.topo-direita {
    width: 100%; 
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 1rem; 
}

.menu {
    background-color: #2F2E2E;
    height: auto; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EEE751;
    text-align: center;
    font-weight: bold;
    font-size: 2rem; 
}

.p1 {
    margin-top: 3rem;
}

.p2 {
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}

.conteudo {
    background-color: #EEE751;
    padding: 2rem;
    color: #0D0D0D;
}

.sites {
    border-bottom: 1rem solid #EEE751;
}

#sites {
    padding: 2rem 0; 
}

.musicas-superior, .musicas-inferior {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-bottom: 4rem;
}

.sorezo img, .cartaspravc img, .ligacao img, .cedooutarde img, .allianz1 img, .allianz2 img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    border-radius: 10px;
}

.sorezo p {
    margin: 1rem;
    font-size: 1rem; 
    font-weight: 550;
}

.sobre {
    border-bottom: 0.15rem solid #EEE751;
}

#sobre {
    padding: 2rem 0; 
}

.conteudo-sobre {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    line-height: 1.6;
}

.conteudo-sobre img {
    width: 100%; 
    max-width: 20rem; 
    border-radius: 50rem;
    margin: 1rem 0; 
}

.conteudo-sobre p {
    font-size: 1.3rem;
    font-weight: bold;
}

.newsletter {
    border-bottom: 1rem solid #EEE751;
}

#newsletter {
    padding: 2rem 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EEE751;
}

#newsletter h2 {
    padding-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #0D0D0D;
    border-radius: 10px;
    width: 80%; 
    padding: 2rem;
}

input[type="text"], input[type="email"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem; 
    border-color: #0D0D0D;
}

input[type="checkbox"] {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

button {
    width: 100%; 
    max-width: 200px; 
    padding: 0.5rem;
    background: #EEE751;
    transition: background-color 0.2s ease, transform 0.3s ease;
    font-family: "Poppins";
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

button:hover {
    background: #2F2E2E;
    color: #EEE751;
    transition: scale(1.05);
}

.rodape {
    background-color: #2F2E2E;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #EEE751;
    font-family: "Poppins";
    flex-wrap: wrap; 
}

.rodape-esquerda {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.rodape-direita {
    margin-top: 2rem;
    width: 18%; 
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkedin img, .instagram img, .github img {
    width: 50px; 
    height: auto;
}


@media (max-width: 768px) {
    .logotipo {
        flex-direction: column;
        font-size: 1.5rem; 
    }

    .topo-direita {
        flex-direction: column; 
        align-items: center;
    }

    .menu {
        font-size: 1.5rem; 
    }

    .musicas-superior, .musicas-inferior {
        flex-direction: column; 
    }
}
